img {
    display: block;
}

#jumbo {
    background-color: black;
}

.bg-black {
 background-color: black;
}

body {
    background-color: rgb(50,50,50) !important;
}

.card {
    margin: 50px;
}

#nav-text {
    color: #1593CD;
}


#nav-text-2 {
    color:#F6B237;
}

#read-caption {
    color: white;
    margin-left: 4%;
}

.card-bot {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas:
    "title title title title title edit"
    ;
}

.card-title {
    grid-area: title;
    margin-left: 4%;
    margin-top: 1%;
}

.edit-card {
    grid-area: edit;
}