body{
    background-color: black;
}
#jumbo{
    background-color: black;
}

.bg-black{
 background-color: black;
}

#wrapper{
    color: red;
}

#nav-text{
    color: #1593CD;
}


#nav-text-2{
    color:#F6B237;
}
