img {
    display: block;
}

#jumbo {
    background-color: black;
}

.bg-black {
 background-color: black;
}

body {
    background-color: rgb(50,50,50) !important;
}

.card {
    margin: 50px;
}

.card-bot {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas:
            "title title title title title edit";
}

.card-title {
    grid-area: title;
    margin-left: 4%;
    margin-top: 1%;
}

.edit-card {
    grid-area: edit;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas:
            ". cap cap cap cap ."
            "post post post post post post";
}

#nav-text {
    color: #1593CD;
}


#nav-text-2 {
    color:#F6B237;
}

#read-caption {
    color: white;
    grid-area: cap;
}

#post-img {
    grid-area: post;
}