.card {
    margin: 50px;
}

.card-bot {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas:
            "title title title title title edit";
}

.card-title {
    grid-area: title;
    margin-left: 4%;
    margin-top: 1%;
}

.edit-card {
    grid-area: edit;
}