.grid-container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas:
            ". cap cap cap cap ."
            "post post post post post post";
}

#read-caption {
    color: white;
    grid-area: cap;
}

#post-img {
    grid-area: post;
}