.grid-container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas:
            ". cap cap cap cap cap cap cap cap cap cap ."
            ". post post post post post post post post post post .";
}

#read-caption {
    color: #ffffff;
    grid-area: cap;
}

#post-img {
    grid-area: post;
}